<header class="p-3 text-bg-dark">
    <div class="container">
       <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

         <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
           <li><a href="/ads" class="nav-link px-2 text-secondary">Все объявления</a></li>
           <li><a href="#" class="nav-link px-2 text-white">О нас</a></li>
         </ul>

         <div class="text-end">
           <button type="button" class="btn btn-outline-light me-2" onclick="window.location.href = '/accounts/login';">Личный кабинет</button>
         </div>
     </div>
    </div>
</header>